<!---------------------   Nav  starts---------------------->

<div class="w-full h-3/4 grid grid-cols-4 grid-rows-1">
    <div class="w-full h-full overflow-auto p-4 col-span-3 flex flex-col space-y-4 items-center border-r-2 border-secondary">


        <!-- Dynamic MainTitle and MainTextTitle -->
        @if (@ViewBag.MainTitle == null && @ViewBag.MainTextTitle == null && @ViewBag.Question == null)
        {
            <h1 class="text-4xl font-bold leading-tight text-white">
                Hi!,Type something in the search bar so I can help you!
            </h1>
        }
        <h1 class="text-4xl font-bold leading-tight">
            @if (ViewBag.MainTitle != @ViewBag.MainTextTitle)
            {
                @ViewBag.MainTitle

            }
        </h1>
        @if (@ViewBag.MainTextTitle != "You can sign-in to your IBM account by clicking : [here](https://login.ibm.com/)")
        {
            <h1 class="text-4xl font-bold leading-tight text-white">
                @ViewBag.MainTextTitle
            </h1>
        }
        @if (@ViewBag.MainTextTitle == "You can sign-in to your IBM account by clicking : [here](https://login.ibm.com/)")
        {
            <h1 class="text-4xl font-bold leading-tight">You can sign-in to your IBM account by clicking</h1>
            <a href="https://login.ibm.com/" target="_blank"
           class="btn btn-outline text-white">
                <span class="w-full">Login</span>
            </a>
        }
        <h1 class="text-4xl font-bold leading-tight">
            @if (@ViewBag.Anwser != @ViewBag.MainTextTitle && @ViewBag.Anwser != @ViewBag.MainTitle)
            {
                @ViewBag.Anwser
            }
        </h1>
        <!-- For a image -->
        @switch (ViewBag.Topic)
        {
            @case "AI":

                <img src="~/public/AI_1.png" class="object-cover h-48 w-96 rounded-xl shadow-md"
             src="https://picsum.photos/400/400"
             alt=""
             loading="lazy">

                break;
            @case "CLOUD":

                <img class="object-cover h-48 w-96 rounded-xl shadow-md"
             src="~/public/Cloud.png"
             alt=""
             loading="lazy" />
                break;
            @case "CYBER SECURITY":

                <img class="object-cover h-48 w-96 rounded-xl shadow-md"
             src="~/public/Cyber sec.png"
             alt=""
             loading="lazy" />
                break;
            @case "DESIGN THINKING":
                <img class="object-cover h-48 w-96 rounded-xl shadow-md"
             src="~/public/Design Thinking.png"
             alt=""
             loading="lazy" />

                break;
        }
        @if (@ViewBag.TitlesLinks != null)
        {
            @foreach (var entry in @ViewBag.TitlesLinks)
            {
                var imagePath = "/public/logos/" + @entry.Key + ".png";

                <a href="@entry.Value" target="_blank" class="btn btn-outline bt-lg gap-2 text-white">
                    <span>@entry.Key</span>
                    @if (System.IO.File.Exists(@"wwwroot/" + imagePath))
                    {
                        <img src="@imagePath" alt="icon" class="w-7 h-full object-contain rounded-full">
                    }
                </a>
            }
        }
        <h1 class="text-4xl font-bold leading-tight text-white">
            @ViewBag.Question
        </h1>
        @if (@ViewBag.Labels != null)
        {
            @foreach (var label in @ViewBag.Labels)
            {
                <button id="myButton" type="button"
                class="btn bg-{#ffffff} btn-outline borde-white text-white"
                onclick="fillTextBox('@label')">
                    <span class="w-full">@label</span>
                </button>
                <script>
                    function fillTextBox(label) {
                        document.getElementById('question').value = label;
                        document.querySelector('form').submit();
                    }
                </script>
            }

        }
    </div>

    <!-- Reccomendations display-->


    <div class="p-2">
        <div class="flex items-center justify-center">

            <a class="avatar flex flex-col gap-2 item-center justify-center text-center text-white" href="@Url.Action("Profile", "Home")">
                <div class="w-24 rounded-full">
                    <img src="https://loremflickr.com/320/240/man" />
                </div>
                <p>Profile</p>
            </a>
        </div>
        <h2 class="text-2xl font-bold text-center mb-4 p-4 text-white">Reccomednations:</h2>
        <div class="flex items-center justify-center flex-col gap-5">
            @if (@ViewBag.Recomendations != null)
            {
                @foreach (var rec in @ViewBag.Recomendations)
                {
                    <button id="myButton" type="button"
                    class="btn bg-{#ffffff} btn-outline borde-white text-white"
                    onclick="fillTextBox('@rec')">
                        <span class="w-full">@rec</span>


                    </button>
                    <script>
                        function fillTextBox(label) {
                            document.getElementById('question').value = label;
                            document.querySelector('form').submit();
                        }
                    </script>
                }

            }
        </div>
    </div>
</div>

<!-- Form input -->


<div class="w-full h-1/4 flex items-center justify-center border-t-2 border-secondary">
    <form class="max-w-lg w-full" method="post">
        <div class="form-control w-full">
            <div class="input-group">
                <input type="text"
                       id="question"
                       name="userQuery"
                       placeholder="Chat…"
                       class="input input-bordered w-full"
                       required />
                <button type="submit"
                        value="Submit"
                        class="btn btn-square">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-6 w-6"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    window.watsonAssistantChatOptions = {
        integrationID: "9e1d9225-e6df-4f38-a99f-351d5418a8bd", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "9105472d-0990-4acc-a349-661d4607d608", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
    });
</script>